* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    background-color: #000;
}
ul{
    display: flex;
}

li{
    flex-grow: 1;
}
a{
    display: block;
    text-align: center;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 4px solid black;
}

.active{
    color: yellow;
    border-bottom-color: yellow;;
}

section{
    padding-top: 30px;
    text-align: center;

}